.emp_container {
    width: 95%;
    padding: 30px;
    background: rgba(182, 182, 182, 0.25);
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border-radius: 5px;
	position: relative; 
    margin: 0 auto;
    margin-bottom: 20px;

    .emp_vertical {
        color: #64FFDA;
        position: absolute;
        bottom: 20px; // spacing off bottom
        left: calc(-5.5em + 20px); // remove your line-height and add spacing off the right side (20px to match bottom)
        height: calc(100% - 60px); // 100% minus "padding" (20 + 20 = 40) for wrapping text
        writing-mode: vertical-rl; // vertical-lr will wrap the wrong way
        transform: rotate(180deg); // flip text to correct orientation
        font-family: 'Roboto Mono', monospace;
        text-align: center;
        font-weight: 300;
        text-shadow: 0px 1px 10px rgba(100, 255, 219, 0.5);
    }
}

.emp_heading {
    color: #2BB997;
}

.emp_content {
    color: #E2E2E2;
    font-weight: 300;
}