.secLink {
    margin-left: 20px;
    text-decoration: none;
    color: #e2e2e2;
    &:hover{
        color: #64FFDA;
        cursor: pointer;
        text-decoration: none;
    }
}

.ml-auto {
    margin-left: auto;
}

.navbar_container {
    padding: 1rem;
}