.hero_container {
    height: 100vh;
    padding-top: 200px;
}

.hero_pre_header {
    color: #BEFFF0;
}

.hero_para {
    color: #E2E2E2;
    font-weight: 300;
    text-align: justify;
}

.proj_page_container {
    margin-top: 250px;
    padding-bottom: 250px;
}