.hero_container {
    height: 100vh;
    padding-top: 200px;
}

.hero_pre_header {
    color: #BEFFF0;
}

.hero_para {
    color: #E2E2E2;
    font-weight: 300;
    text-align: justify;
}

.emp_page_container {
    margin-top: 100px;

}

.proj_page_container {
    margin-top: 200px;
    padding-bottom: 250px;
}

.home_linkBtn {
    text-decoration: none;
    color: #fff;
    &:hover{
        text-decoration: none;
        color: #eee;
    }
}